* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --font-color: rgb(236, 114, 134);
  --font-color-secondary: rgb(149, 149, 149);
  --padding-main: 5% 10%;
}

/* HEADER */

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
header img {
  max-height: 100%;
  width: 20%;
}
#menu-links {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#menu-links a {
  text-decoration: none;
  color: black;
}
#menu-links a:nth-child(4) {
  color: var(--font-color);
}

/*ABOUT SECTION*/

#section-about {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-main);
  background-image: url(./assets/graphic.png);
  background-size: 80%;
  background-position: right;
  background-repeat: no-repeat;
}

#about-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#about-info p {
  font-size: 1rem;
}
#about-info p:nth-child(1) {
  color: var(--font-color);
}

#about-info h1 {
  font-size: 2rem;
}
button {
  border-radius: 20px;
  width: 150px;
  background-color: white;
  height: 50px;
  border: 3px solid rgb(42, 82, 148);
  color: black;
  font-size: 15px;
}
button:hover {
  cursor: pointer;
}

/* SECOND SECTION */

#section-second {
  background-image: linear-gradient(
    to right,
    rgb(217, 51, 51),
    rgb(112, 234, 82)
  );
  padding: 10% 10%;
  display: flex;
  flex-direction: column;
}
#section-second p:first-child {
  font-size: 2rem;
  font-weight: bold;
  width: 50%;
}

/* SECTION - COMPANIES*/

#section-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5%;
  padding: var(--padding-main);
  justify-items: center;
}
#section-images img {
  width: 90%;
}

#section-images img:nth-child(5) {
  display: none;
}

/* NFT IMG SECTION */

#section-auction {
  padding: var(--padding-main);
}
.auction-info {
  display: flex;
  flex-direction: column;
}
.auction-info p:first-child {
  font-size: 2rem;
  padding: 5% 0;
}
.auction-info p:nth-child(2) {
  font-size: 1rem;
  color: var(--font-color-secondary);
}
.opensea {
  color: var(--font-color-secondary);
}
#auction-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7%;
  column-gap: 7%;
}
.member-info {
  padding: 10px 0;
  background-color: rgb(222, 229, 229);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.section-card table th:first-child {
  color: orange;
  font-size: 0.5rem;
}
.section-card table th:nth-child(2) {
  color: var(--font-color-secondary);
  font-size: 0.5rem;
}

.section-card table tr:nth-of-type(2) td:nth-child(2)::before {
  content: url(./assets/eth.svg);
}

.section-card table tr:nth-of-type(3) td:first-child,
.section-card tr:nth-of-type(3) td:nth-child(2) {
  font-size: 0.8rem;
  color: var(--font-color-secondary);
}
.section-card table {
  border-spacing: 40px 0;
  border-collapse: separate;
}
.section-card td {
  padding: 10px 0;
}
#line {
  background-color: rgb(181, 178, 178);
  height: 1px;
  width: 89%;
  margin: 0 auto;

  /*SECOND INFO SECTION*/
}
#section-about-last {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-main);
  background-image: url(./assets/upsell-footer-image.svg);
  background-size: 40%;
  background-position: right;
  background-repeat: no-repeat;
}

/* FOOTER */

#social-media-img {
  min-height: 100%;
  padding-left: 10%;
  padding-top: 5%;
}
#social-media p {
  padding-left: 10%;
  padding-top: 2%;
  color: var(--font-color-secondary);
}
.social-media {
  padding-left: 10%;
  padding-top: 2%;
}
#footer-links {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  padding: var(--padding-main);

  justify-items: start;
}
.link li {
  list-style-type: none;
  display: block;
  line-height: 3em;
}
.link li a {
  text-decoration: none;
  color: var(--font-color-secondary);
}
.link li span {
  font-weight: bold;
  color: var(--font-color-secondary);
}
em {
  padding: var(--padding-main);
  color: var(--font-color-secondary);
  text-decoration: none;
  font-style: normal;
}
@media only screen and (min-width: 992px) {
  #section-about {
    background-size: 50%;
  }

  #about-info p {
    font-size: 1rem;
  }

  #about-info h1 {
    font-size: 3rem;
  }

  /* SECOND SECTION */

  #section-second {
    border-radius: 40px;
    margin: 5%;
  }
  #section-second p:first-child {
    font-size: 2.5rem;
  }

  #section-images {
    display: flex;
    justify-content: center;
  }

  #section-images img:nth-child(5) {
    display: flex;
  }

  /*SECOND INFO SECTION*/

  #section-about-last {
    background-size: 20%;
  }
  #social-media {
    display: flex;
    justify-content: space-between;
  }
  #footer-links {
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
  }
  #right-footer {
    width: 40%;
    padding: var(--padding-main);
  }
}
